In [1]:
import numpy as np
import pandas as pd

In [8]:
df1 = pd.read_csv('/content/recipe.csv')

In [9]:
df1.columns

Index(['link', 'name', 'ingredients', 'recipe_category', 'recipe_cuisine',
       'rating', 'rating_count', 'keywords'],
      dtype='object')

In [24]:
df1['name']

0                                        Cardamom Sharbat
1        Lamb Tagine with Potatoes and Peas (L'Ham Bel ...
2                  North African Chicken and Spinach Stew
3           Moroccan-Spiced Chicken with Millet Tabbouleh
4        Somali Beef Stew with Spiced Rice (Bariis Maraq)
                               ...
17385    Vietnamese Shrimp and Crab Fritters with Chili...
17386                            Vietnamese Dipping Sauce
17387                 Beef Stew with Curry and Lemongrass
17388                                Vietnamese Beef Soup
17389                               Vietnamese Fried Rice
Name: name, Length: 17390, dtype: object

In [53]:
df2 = pd.read_csv('/content/recipe_CuisineLabel.csv')
df2.columns

Index(['link', 'name', 'ingredients', 'recipe_category', 'recipe_cuisine',
       'rating', 'rating_count', 'keywords', 'col1', 'CuisineLabel'],
      dtype='object')

In [55]:
df2.drop(['link','ingredients','keywords','name','recipe_category',], axis = 1, inplace = True)

In [56]:
df2.columns

Index(['recipe_cuisine', 'rating', 'rating_count', 'col1', 'CuisineLabel'], dtype='object')

In [13]:
df3 = pd.read_csv('/content/recipe_cuisine_recipe_info.csv')
df3.columns

Index(['cuisine', 'ingredients', 'keywords', 'name', 'rating', 'rating_count',
       'recipe_category', 'recipe_cuisine', 'recipe_link'],
      dtype='object')

In [31]:
df3['cuisine']

0        African
1        African
2        African
3        African
4        African
          ...
17486        NaN
17487        NaN
17488        NaN
17489        NaN
17490        NaN
Name: cuisine, Length: 17491, dtype: object

In [42]:
df1['recipe_category']

0        Lemon $ Lemon Juice $ Citrus $ Drink $ Summer ...
1        HarperCollins $ HarperCollins $ Dinner $ Lamb ...
2        HarperCollins $ HarperCollins $ Dinner $ Chick...
3        HarperCollins $ HarperCollins $ Dinner $ Chick...
4        Stew $ Soup/Stew $ Dinner $ Beef $ Spice $ Cor...
                               ...
17385    Fish $ Ginger $ Pepper $ Shellfish $ Appetizer...
17386    Sauce $ Citrus $ Garlic $ No-Cook $ Quick & Ea...
17387    Soup/Stew $ Beef $ Mushroom $ Tomato $ Vegetab...
17388    Soup/Stew $ Beef $ Leafy Green $ Kid-Friendly ...
17389    Onion $ Rice $ Vegetable $ Side $ Stir-Fry $ V...
Name: recipe_category, Length: 17390, dtype: object

In [39]:

null_columns1 = [cols for cols in df1.columns if df1[cols].isnull().sum() > 0]
for cols in null_columns1:
    print(cols, df1[cols].isnull().sum())

In [38]:
for cols in null_columns1:
  df1[cols] = df1[cols].fillna(0)

In [36]:
null_columns3 = [cols for cols in df3.columns if df3[cols].isnull().sum() > 0]
for cols in null_columns3:
    print(cols, df3[cols].isnull().sum())

In [34]:
#fill null values with 0
for cols in null_columns3:
  df3[cols] = df3[cols].fillna(0)

In [26]:
#droping columns
df1.drop(['link','ingredients','keywords','name'], axis = 1, inplace = True)

In [ ]:
df1.drop(['recipe_category'], axis=1, inplace=True)

In [49]:
df1.columns

Index(['recipe_cuisine', 'rating', 'rating_count'], dtype='object')

In [30]:
df3.drop(['recipe_link','ingredients','keywords','name','recipe_category'], axis = 1, inplace = True)
df3.columns

Index(['cuisine', 'rating', 'rating_count', 'recipe_cuisine'], dtype='object')

In [40]:
print(df1.shape)
print(df3.shape)

(17390, 4)
(17491, 4)

In [59]:
df4 = pd.merge(df1,df3, on = ['recipe_cuisine','rating','rating_count'], how = 'left', indicator = True)

In [64]:
df4.columns

Index(['recipe_cuisine', 'rating', 'rating_count', 'cuisine', '_merge'], dtype='object')

In [71]:
df4.drop(['_merge'], axis=1, inplace=True)

In [72]:
df4.columns

Index(['recipe_cuisine', 'rating', 'rating_count', 'cuisine'], dtype='object')

In [73]:
print(df4.shape)
print(df2.shape)

(17433, 4)
(17391, 5)

In [74]:
df_new = pd.merge(df2,df4, on = ['recipe_cuisine','rating','rating_count'], how = 'left', indicator = True)

In [75]:
df_new.columns

Index(['recipe_cuisine', 'rating', 'rating_count', 'col1', 'CuisineLabel',
       'cuisine', '_merge'],
      dtype='object')

In [81]:
df_new.drop(['cuisine'], axis=1, inplace=True)

In [84]:
df_new.drop(['_merge'], axis=1, inplace=True)

# New Section

In [89]:
df_new.drop(['CuisineLabel'], axis=1, inplace=True)

In [91]:
df_new['recipe_cuisine']

0             Middle Eastern $ African $
1             Middle Eastern $ African $
2                   Moroccan $ African $
3                   Moroccan $ African $
4                              African $
                       ...
255411    Vietnamese $ Southeast Asian $
255412              Asian $ Vietnamese $
255413              Asian $ Vietnamese $
255414                      Vietnamese $
255415                                NaN
Name: recipe_cuisine, Length: 255416, dtype: object

In [92]:
df_new.drop(['recipe_cuisine'], axis=1, inplace=True)

In [101]:
df_new['rating'].fillna(0)

0         0/4
1         0/4
2         0/4
3         0/4
4         0/4
         ...
255411    3/4
255412    3/4
255413    3/4
255414    3/4
255415      0
Name: rating, Length: 255416, dtype: object

In [94]:
#saving this new dataframe into a csv file
df_new.to_csv('new_dataset.csv', index = True)

In [107]:
df_new['rating'] = df_new['rating'].str.replace('/4','')

In [113]:
df_new['rating']

0           0
1           0
2           0
3           0
4           0
         ...
255411      3
255412      3
255413      3
255414      3
255415    NaN
Name: rating, Length: 255416, dtype: object

In [116]:
df_new['rating'].fillna(0, inplace = True)

In [117]:
df_new['rating_count'].fillna(0, inplace = True)

In [118]:
df_new['rating_count']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
255411    36.0
255412    22.0
255413    22.0
255414    33.0
255415     0.0
Name: rating_count, Length: 255416, dtype: float64

In [120]:
df_new['rating'] = df_new['rating'].astype(float)

In [121]:
#get the highest ratings*rating_count values for each col1
df_new['final_rating'] = df_new['rating'] * df_new['rating_count']

In [122]:
df_new['final_rating']

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
          ...
255411    108.0
255412     66.0
255413     66.0
255414     99.0
255415      0.0
Name: final_rating, Length: 255416, dtype: float64

In [125]:
df_new.head()

   rating  rating_count     col1  final_rating
0     0.0           0.0  African           0.0
1     0.0           0.0  African           0.0
2     0.0           0.0  African           0.0
3     0.0           0.0  African           0.0
4     0.0           0.0  African           0.0

In [133]:
#TRAIN the model
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [136]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

# Splitting your data into training and testing sets
outcomes = df_new['col1']
features = df_new['final_rating']
X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.2, random_state=42)

# Reshaping X_train and X_test to make them 2D arrays
X_train = X_train.values.reshape(-1, 1)
X_test = X_test.values.reshape(-1, 1)

# Creating a DecisionTreeClassifier with specified parameters
classifier = DecisionTreeClassifier(max_depth=50, min_samples_leaf=6, min_samples_split=2)

# Fitting the model on the training data
classifier.fit(X_train, y_train)

# Predicting on the training and testing data
y_train_pred = classifier.predict(X_train)
y_test_pred = classifier.predict(X_test)

from sklearn.metrics import accuracy_score

# Calculating accuracy for training and testing data
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 0.6414707436916391
The test accuracy is 0.6367551483830554